/* root */

/*introduction*/
.intro_layout1 {
  position: relative;
  top: 35vh;
  left: 45vw;
  width: 100vh;
  height: 100px;
  font-family: "Courier New", monospace;
  font-size: 3.1vw;
  transform: scaleX(1.2);
  text-align: left;
  transition: transform 0.3s ease;
}

.intro_layout1:hover {
  text-shadow: 0 0 5px rgba(252, 252, 252, 0.8),
    0 0 10px rgba(189, 189, 177, 0.923), 0 0 20px rgba(99, 98, 96, 0.778);
  transform: scaleX(1.2) translateY(-20px);
}

/* */
